@model Match_Form.Models.Match

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="text-center">Match Form</h3>
<div class="container">
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <label asp-for="MatchName" class="control-label"></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <input asp-for="MatchName" placeholder="Enter Match Name" class="form-control" />
                </div>
                <div class="col-sm-3 mt-3">
                    <label asp-for="TeamOne" class="control-label "></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <input asp-for="TeamOne" placeholder="Team 1" class="form-control" />
                </div>

                <div class="col-sm-3 mt-3">
                    <label asp-for="StartTime" class="control-label "></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <input type="time" asp-for="StartTime"  class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <label asp-for="MatchDate " class="control-label "></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <input asp-for="MatchDate" class="form-control" />
                </div>
                <div class="col-sm-3 mt-3">
                    <label asp-for="TeamTwo " class="control-label "></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <input asp-for="TeamTwo" placeholder="Team 2" class="form-control" />
                </div>

                <div class="col-sm-3 mt-3">
                    <label asp-for="Address " class="control-label "></label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-9 mt-3">
                    <textarea row="3" asp-for="Address" class="form-control"></textarea>
                </div>

                <div class="col-sm-11 mt-3">
                    <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">Add Players</button>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="navigation">
                    @Html.Partial("AddPlayer")
                </div>
            </div>
        </div>
    </div>

    <div id="navigation">
        @Html.Partial("DisplayPlayer")
    </div>
